@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AdminPage";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #adminn {
            background-color: #0a8b6b;
            text-align: center;
            padding: 1rem;
            margin-left: 10%;
            margin-right: 20px;
        }

            #adminn ul {
                list-style: none;
                display: flex;
                justify-content: center;
                padding: 1rem;
            }

            #adminn a {
                font-size: 20px;
                text-decoration: none;
                color: #fff;
                padding: 0.5rem 1rem;
                border: 2px solid #444;
                border-radius: 5px;
                margin: 0 10px;
                transition: background-color 0.3s, color 0.3s;
                text-decoration: none;
            }

                #adminn a:hover {
                    font-size: 30px;
                    background-color: #27ae60;
                    color: #444;
                }

        main {
            margin-left: 10%;
            margin-right: 20px;
        }

        .content {
            border: 1px solid #ddd;
        }

    </style>
</head>
<body>

    <main>
        <section class="content">
            <h2>Welcome to the Admin Panel</h2>
            <p>Manage students, courses, faculty, and more.</p>
        </section>
    </main>
    <nav id="adminn">
        <ul>
            <li><a asp-area="" asp-controller="Student" asp-action="Students">Students</a></li>
            <li><a asp-area="" asp-controller="Applications" asp-action="ApplicationsAccept">Applications</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Faculty</a></li>
        </ul>
    </nav>
</body>
</html>
